
html{
  background-color: black;
}
body{

width: 70%;
display: flex;
margin: 0 auto;
flex-direction: column;


}


#header{
  height: 200px;
  width: 100%;
  display:flex;
  justify-content: center;
  background-color: RGBa(255,255,255,0.95);
  margin-top: 10px;
  border-radius: 10px;
}
#header img {
  width: 80%;
}

#accueil p{
  width: 70%;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;

}
#accueil img{
  width: 150px;
  height: 150px;

}
/*Style de l'affichage du jeu*/
#jeu{
  margin-top: 20px;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100px 100px 200px ;
  column-gap:10px;
}
#mapid {
  border-radius: 10px;
  grid-column: 1 / span 1;
  grid-row: 1/ span 3;
}
#chrono{
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
}

#chrono h2{
  color: white;
  font-family: Courier New, monospace;
  text-align: center;
}

#objets_trouves{
  grid-column: 2 / span 1;
  grid-row: 3/ span 1;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}
#objets_trouves img{
  height:100px;
  width: auto;
}

#accueil{
  width: 100%;
  display: flex;
  flex-direction:column;
  background-color: RGBa(191, 191, 191, 0.5);
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;

}

#button{
  grid-column: 2 / span 1;
  grid-row: 2/ span 1;
  height: 30%;
  width: 70%;
  align-self: center;
  justify-self: center;
}
/*Style de l'affichage des résultats*/
#result{
  width: 100%;
  display: flex;
  flex-direction:column;
  background-color: RGBa(191, 191, 191, 0.5);
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#result form{
  align-items: center;
}

#result p{
  width: 70%;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size:17px;
}

/*Style des boutons du jeu*/
.bouton{
  box-shadow:inset 0px 1px 0px 0px #cf866c;
 	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
 	background-color:#d0451b;
 	border-radius:3px;
 	border:1px solid #942911;
 	display:inline-block;
 	cursor:pointer;
 	color:#ffffff;
 	font-family:Arial;
 	font-size:13px;
 	padding:6px 24px;
 	text-decoration:none;
 	text-shadow:0px 1px 0px #854629;
}
.bouton:hover{
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.bouton:active{
  position:relative;
	top:1px;
}

/* Style des classements (titre et tableau) */
h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  align-self:center;


}
table {
  background-color: RGBa(191, 191, 191, 0.3);
  border-radius: 5px;
  width: 80%;
  align-self: center;

}

th, td {
color: white;
font-family: 'Montserrat', sans-serif;}
th{
  background-color: #bc3315;

}
td {
  text-align: center;
}
tr:nth-child(even) {background-color: RGBa(255, 255, 255, 0.3);}
